<div class="container signUp">
    <h5 class="title">Sign Up</h5>
    <form class="g-3 inputForm" [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="mb-3">
            <label for="emailInput" class="form-label">Email id</label>
            <input type="email" class="form-control" formControlName="email" (change)="validateEmail()" id="emailInput" placeholder="enter your email id" required>
            <p class="smaller text-danger">{{invalidEmailMessage}}</p>
        </div>
        <div class="mb-3">
            <label for="phoneInput" class="form-label">Phone Number</label>
            <input type="number" class="form-control" formControlName="phone" (change)="validatePhone()" id="phoneInput" placeholder="enter your phone Number" required>
            <p class="smaller text-danger">{{invalidPhoneMessage}}</p>
        </div>
        <div class="mb-3">
            <label for="passwordInput" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" (change)="validatePassword()" id="passwordInput" placeholder="enter your password" required>
            <p class="smaller text-danger">{{invalidPasswordMessage}}</p>
            <p class="smaller text-primary">Minimum 8 alpha numeric value</p>
        </div>
        <div class="mb-3 loginBtn">
            <button class="btn btn-primary">Sign Up</button>
        </div>
    </form>
    <div class="signUpHere">
        <p>Existing User ? <a routerLink="/">Login</a> here</p>
    </div>
</div>